<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
  <connectionStrings>
    <add name="Persona" connectionString="data source=LAPTOP-DFMRNAJD;&#xA;database=Persona;&#xA;Integrated Security=SSPI;&#xD;&#xA;            &#xA;persist security info=True;user id=sa;"
      providerName="System.Data.SqlClient" />
    <add name="UTTT.Ejemplo.Linq.Data.Properties.Settings.PersonaConnectionString"
      connectionString="data source=DESKTOP-ART4CME\SQLEXPRESS;&#xA;database=Persona;&#xA;Integrated Security=SSPI;&#xA;persist security info=True;"
      providerName="System.Data.SqlClient" />
    <add name="UTTT.Ejemplo.Linq.Data.Properties.Settings.PersonaConnectionString1"
      connectionString="workstation id=Persona.mssql.somee.com;packet size=4096;user id=DillanGom_SQLLogin_1;pwd=2fxa5qoqd3;data source=Persona.mssql.somee.com;persist security info=False;initial catalog=Persona"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
